* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.content-wrapper {
    flex: 1 0 auto;
    /* This will make the content-wrapper expand */
}

footer {
    flex-shrink: 0;
    /* This will prevent the footer from shrinking */
    /* Other styles for footer */
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.custom-carousel {
    margin-top: 15px; /* You can adjust this value */
    padding: 0 15px;
    /* This adds padding to the sides of the carousel */
}

.custom-carousel .carousel-inner {
    max-height: calc(100vh / 3);
    /* This sets the maximum height to 1/3 of the viewport height */
}


.carousel-inner img {
    /* top: 50%; */
    transform: translateY(-50%);
    object-fit: cover;
    object-position: center center; /* This aligns the image to the center */
    /* This ensures the images cover the area without stretching */
    height: 100%;
    width: 100%;
}